<div class="container login">
	<%= form_for(:session, url: login_path) do |f| %>
		<%= f.email_field :email, :placeholder => "Email", :maxlength => 255 %>
		<%= f.password_field :password, :placeholder => "Password", :maxlength => 255 %>
		<%= f.submit "Log in", class: "btn" %>
	<% end %>
</div>

